<div class=header>
    <h1>You've picked up...</h1>
</div>
<div id="record-info" align="center">
    <h2><%= @picked_record.title %> (<%= @picked_record.year %>)</h2>
    <h3><%= @picked_record.artist %></h2>
    <p><%= @picked_record.genre %></h2>
    <p><%= @picked_record.styles %></h2>
</div>
    <div class="row">
        <div class="plans clearfix">
            <div class="col-lg-3 col-lg-offset-3 plan">
                <h2>Tracklist</h2>
                <div class="features">
                    <ul class="tracklist">
                        <% for track in @picked_record.tracklist %>
                        <li><%= track.position %> - <%= track.title %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 plan">
                <h2>About the artist</h2>
            <div class="features">
                <ul>
                    <%= @picked_record_artist.profile %>
                </ul>   
            </div>
        </div>
    </div>
    <%= link_to "Dig again!", dig_path, class: "button" %>
</div>
