<div class=header>
    <h1>A simple application to explore a record collection.</h1>
</div>
<div id="record-info" align="center">
    <h2><%= @picked_record.title %> (<%= @picked_record.year %>)</h2>
    <h2><%= @picked_record.artist %></h2>
    <h2><%= @picked_record.genre %></h2>
    <h2><%= @picked_record.styles %></h2>
    <p class="lead">Album information here...</p>
</div>
    <div class="row">
        <div class="plans clearfix">
            <div class="col-lg-3 col-lg-offset-3 plan">
                <h2>Tracklist</h2>
                <div class="features">
                    <ul>
                        <% for track in @picked_record.tracklist %>
                        <li><%= track.position %> - <%= track.title %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 plan">
                <h2>Collaborators</h2>
            <div class="features">
                <ul>
                    <li>Artist 1</li>
                    <li>Artist 2</li>
                    <li>Artist 3</li>
                    <li class='extra'>Unlimited projects</li>
                </ul>   
            </div>
        </div>
    </div>
    <%= link_to "dig!", dig_path, class: "button" %>
</div>
